h1 {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}
#base {
  width: 640px;
  margin: 0 auto;
  padding-top: 60px;
  position: inherit;
  padding-left: 200px;
  top: 40px;
  z-index: 10;
  float: inherit;
}
#board {
  width: 434px;
  height: 374px;
  margin: 0 auto;
  position: fixed;
  background-image: url(../png/Connect4Board.png);
}
.disc {
  position: absolute;
  z-index: -1;
  top: -55px;
  left: 14px;
  width: 46px;
  height: 46px;
  border-radius: 46px;
  transition: all .3s;
}
.disc.blue {
  background-image: url(../png/BlueToken.png);
}
.disc.orange {
  background-image: url(../png/OrangeToken.png);
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  float: inherit;
}
.dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 120px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
#menu {
  position: fixed;
  width: 200px;
  float: left;
}
#player-colour {
  text-align: center;
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #f2f2f2;
  width: 100px;
  padding: 10px;
  text-align: center;
}
